<%= form_for(tweep) do |f| %>
  <% if tweep.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tweep.errors.count, "error") %> prohibited this tweep from being saved:</h2>

      <ul>
      <% tweep.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :query %>
    <%= f.text_field :query %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
